.container {
  width: 200px;
  background: #222;
  padding: 10px;
  border-radius: 50px;
  margin-top: 50px;
}

.btn{
    width: 200px;
    margin-top: 15px;
}

.luz {
  width: 140px;
  height: 140px;
  margin: 10px auto;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}

.roja {
  background: red;
}

.amarillo {
  background: yellow;
}

.verde {
  background: green;
}

.morado{
  background: purple;
}

.activo {
  opacity: 1;
  box-shadow: 0 0 20px white;
}